.history{
    margin-top: 5px;
    width: calc(100% - 15px);
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: 0 1px 5px #999;
    display: none;
}
.swap{
    flex: 1;
    height: 100%;
    position: relative;
}
.list__item{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.item{
    height: 38px;
    padding-left: 10px;
}
.item a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
}
.item:hover{
background-color: rgb(216, 202, 202);
}
.form-control:focus~.history{
    display: block;
}